{% extends "base.html" %} {% block content%}
<h2>Placeholder Manager page</h2>
<h3>Locations</h3>
<a href="{% url 'locationCreate' %}">create Location</a>
<ul>
  {% for location in locations %}
  <li>
    <a href="{% url 'locationDetail' location.id %}"> {{ location.name }} </a>
  </li>
  {% endfor %}
</ul>
<h3>Teams</h3>
<a a href="{% url 'teamCreate' %}">create a new team</a> <br />
<ul>
  {% for team in teams %}
  <li>
    <a href="{% url 'teamDetail' team.id %}"> {{ team.name }} </a>
  </li>
  {% endfor %} 
</ul>
  <h3>members</h3>
  <p><a href="{% url 'memberCreate' %}">create a new memeber</a></p>
  <ul>
    {% for member in members %}
    <li>
      <a href="{% url 'memberDetail' member.id %}"> {{ member.name }} </a>
    </li>
    {% endfor %}
  </ul>
  <h3>managers</h3>
  <p><a href="{% url 'managerCreate' %}">create a new manager</a></p>
  <ul>
    {% for manager in managers %}
    <li>
      <a href="{% url 'managerDetails' manager.id %}"> {{ manager.name }} </a>
    </li>
    {% endfor %}
  </ul>
  {% endblock %}
</ul>
